/**DROPDOWN HOVER**/
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

p.modalDescText {
    height: 125px;
}

#myBanner {
    padding-top: 50px;
    width: 100%;
    background-color: blue;
    background: -webkit-linear-gradient(#96c3f6, #5698f1 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#96c3f6, #5698f1 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#96c3f6, #5698f1 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#96c3f6, #5698f1 ); /* Standard syntax (must be last) */
}

#myBanner img {
  display: block;
  margin: auto;
}

h2 { 
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #5698f1;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

p {
  color: gray;
  font-size: 1.1em;
}

.col-md-4 {
  padding: 20px;
}

.mobileApp {
  font-size: 1.5em;
  color: white;
  padding: 15px;
  background: -webkit-linear-gradient(#96c3f6, #5698f1 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#96c3f6, #5698f1 ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#96c3f6, #5698f1 ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#96c3f6, #5698f1 ); /* Standard syntax (must be last) */
}

.mobileApp:hover {
  background: -webkit-linear-gradient(#5698f1, #5698f1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5698f1, #5698f1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5698f1, #5698f1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5698f1, #5698f1); /* Standard syntax (must be last) */
  text-decoration: none;
  color: white;
}

.mobileApp:visited {
  text-decoration: none;
  color: white;
}

body {
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #3C3C3C;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: gray;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #3C3C3C;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: gray;
}

@media screen and (max-width: 768px) {
    body {padding-top: 40px; }
}

