{% extends "base.html" %}

{% block body %}
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <center>
        <h2>Mobile Applications</h2>
        <img src="{{url_for("WebInterface.static", filename='images/hermes-logo.png')}}" Width="100%" border="5">
        <p>
        <br>
        Install our mobile applications and run speedtests from your
        own phone. Available on the iOS App Store and Android Play Store.
        </p>
        <div class="col-md-6">
            <a class="btn btn-default" href="#" role="button">Get iOS &raquo;</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-default" href="#" role="button">Get Android &raquo;</a>
        </div>
      </center>
    </div><!-- /.col-lg-4 -->
      <!-- FOOTER -->
      <footer>
        <!--
            OPlabs is not an incorporated entity nor can it hold copyrights
        <p>&copy; OPLab, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        -->
      </footer>
    </div><!-- /.container -->
{% endblock %}
