<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oplabs.hermes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_CALL_LOG" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="main.HermesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="communication.Communication"
            android:label="@string/CommServiceName" />

        <service
            android:name="tester.TestService"
            android:label="TestService" />

        <activity
            android:name="hermes.Views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hermes.Views.ResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName="hermes.Views.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hermes.Views.MainActivity" />
        </activity>
        <activity
            android:name="hermes.Views.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="hermes.Views.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hermes.Views.MainActivity" />
        </activity>
        <activity
            android:name="hermes.Views.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="hermes.Views.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hermes.Views.MainActivity" />
        </activity>
    </application>

</manifest>
